.product-detail img {
    border: 1px solid black;
}

.product-detail__content {
    display: flex;
    justify-content: flex-start;
    border: 1px solid black;
}

.product-detail ul {
    display: flex;
    flex-direction: column;
}

.product-detail ul li {
    list-style: none;
    text-align: left;

}